body {
	margin: 20px 0px 20px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;	
	background: #999;
	/*background:#fff;*/
}

#wrapper {
	margin: 0px auto;
	width: 940px;
	/*
	box-shadow: 0px 0px 5px #990000;
	-moz-box-shadow: 0px 0px 5px #990000;
	-webkit-box-shadow: 0px 0px 5px #990000;*/
	border: 1px solid #ccc;
	background: #fff;
}

#header {
	background: url(../images/header3.png) no-repeat;
	height: 107px;
}

#main-navigation {
	padding: 8px 15px 8px 15px;
	/*background: #315919;*/
	background: #ccc url(../images/nav-bg.png) repeat-x;
}

#main-navigation a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	margin-right: 20px;
	font-weight; bold;
}

.ban {
	background: #fff;
}

#main-navigation a:hover {
	text-decoration: underline;	
}

#main {
	background: #fff;
	min-height: 500px;	
}

#footer {
	background: #ccc;
	padding: 8px;
	color: #fff;
}

a {
	text-decoration: none;	
}

.mod-header {
	background: #ccc;   
	padding: 5px;
	font-weight: bold;	
	color: #990000;
}

.left-container {
	float: left;
	width: 650px;
	padding: 10px;
}

.right-container {
	float: right;
	width: 250px;
	padding: 10px;
	background:#F5F5F5;
	box-shadow: 0px 3px 4px #ccc;
	-moz-box-shadow: 0px 3px 4px #ccc;
	-webkit-box-shadow: 0px 3px 4px #ccc;
}

.search-cont {
	text-align: right;
}

.clear {
	clear: both;	
}

.mod-contents {
	padding: 10px;	
}

.story-title a {
	text-decoration: underline;
	font-weight: bold;
}


.story-title {
	margin-bottom: 5px;	
}

.story-content {
	font-size: .9em;	
}

.story-read-title {
	font-size: 2em;	
}

.story-read-content {
	border: 1px solid #999;
	padding: 10px;	
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 4px #333;
	height: 400px;
	overflow: auto;
}

.cat {
	margin: 10px 0px 10px 0px;	
}

.date-added {
	font-size: 10px;	
}

.breadcrumbs {
	padding: 8px;	
	font-size: 12px;
}

.error {
	border: 1px solid red;
	padding: 5px 20px;
	margin-top: 5px;
	background-image: url(../images/cross.png);
	background-repeat: no-repeat;
	background-position:left;
	background-color:#FFC;	
}

.login-info {
	float: right;
	font-size:14px;
	color: #FFC;
}

.login-info span {
	color: #fff;
}

#crud {
	padding: 20px;	
}